@media (min-width: 375px) and (max-width: 425px) {
  .toogle {
    display: block;
  }

  header nav {
    position: fixed;
    flex-direction: column;
    width: 250px;
    height: 50vh;
    background: var(--secondaryColor);
    top: 120px;
    right: -100%;
    transition: all 0.9s;
    z-index: 10;
  }

  header nav.active {
    right: 0;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 2rem;
  }

  /* ==============Showcase Start============== */
  .showcase_wrapper {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .showcase_wrapper .hero_img {
    object-fit: cover;
    width: 95%;
    transform: translateX(0%);
    z-index: -1;
  }

  .showcase_wrapper .hero_img img {
    content: url("./assets/mobile/image-hero.jpg");
  }

  .showcase_wrapper h2 {
    font-size: 3.2rem;
  }

  /* ==============Design Start============== */

  #design {
    margin-top: 2rem;
  }
  .design_wrapper {
    flex-direction: column;
  }

  .design_wrapper .design_img img {
    content: url("./assets/mobile/image-strategic.jpg");
    width: 100%;
    height: 100%;
  }

  .design_content {
    width: 100%;
  }

  .design_content .content {
    width: 85%;
  }

  .design_shap {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  /* ==============Approach Start============== */
  .approach_content {
    flex-direction: column;
  }

  .bg_with_txt {
    height: 1180px;
  }

  .app_txt {
    text-align: start;
    transform: translateY(30%);
  }

  .app_txt h2 {
    font-size: 2rem;
    transform: translateX(0%);
    color: #fff;
    font-weight: bold;
  }

  /* ==============Brand Naming Start============== */
  .brand_wrapper {
    flex-direction: column;
  }

  .brand_content {
    width: 100%;
    height: 200px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 78px;
  }

  .brand_wrapper .brand_img {
    position: absolute;
    top: -320px;
    right: 20px;
  }

  .brand_wrapper .brand_img img {
    content: url("./assets/mobile/image-slide-1.jpg");
    width: 105.4%;
    height: 100%;
  }

  .brand_wrapper .brand_shap {
    display: none;
  }

  /* ==============build_something Start============== */
  #build_something {
    margin-top: 70%;
    margin-bottom: 1rem;
  }

  .build_content {
    flex-direction: column;
  }
}
