:root{

--heading-font: "Roboto", sans-serif;
--regular-font: "Alumni Sans SC", sans-serif;

--dark-pink: #ba4270;
--water-white: #fbfcfe;
--blue-color: #36536b;
--dark-blue: #1b262f;
--light-pink: #da6d97;
--light-gay: #6c8294;
--black: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
}

.primarybtn{
    background-color: var(--dark-pink);
    color: var(--water-white);
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

a{
    text-decoration: none;
}

.lead{
    font-size: 1.1rem;
    color: var(--water-white);
    line-height: 1.5rem;
}

body{
    font-family: var(--regular-font);
    background-color: #edf3f8;
}

/* navbar */

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

header .navbar ul{
    display: flex;
    list-style-type: none;
}

header .navbar ul li{
    margin: 0 1rem;
}
header .navbar ul li a{
    color: var(--blue-color);
    font-size: 1.1rem;
}

/*   Showcase   */

header{
    position: relative;
    overflow: hidden;
}



.showcase_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase_wrapper .txtcontent h2{
    font-size: 4rem;
    color: var(--blue-color);

}

.showcase_wrapper .txtcontent form{
    margin-top: 3rem;
    margin-bottom: 1rem;
    position: relative;
}

.showcase_wrapper .txtcontent form input{
    outline: none;
    border: none;
    background-color: var(--water-white);
    padding: 0.9rem 1rem;
    border-radius: 20px;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
}

.showcase_wrapper button{
    position: absolute;
    right: 0;
}

.showcase_wrapper .circle_image img{
    object-fit: cover;
    width: 100%;

}

.showcase_wrapper .circle_image{
    position: absolute;
    top: 0;
    z-index: -1;]
    transform: translate(105% -30%);
}