@media (max-width: 1024px) {
  .showcase {
    height: 75vh;
  }

  .showcase .txtContent h2 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin: 1.5rem 0;
    width: 90%;
  }

  .showcase .txtContent p {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .showcase {
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }

  .showcase .txtContent h2 {
    font-size: 4.3rem;
    width: 90%;
  }

  .showcase .txtContent p {
    width: 55%;
  }

  /* ============Numbers========= */
  .showcase .Numbers {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    margin: 0;
    transform: translateY(155%);
  }

  .Numbers .nums {
    display: flex;
    flex-direction: column;
  }

  .bgImg {
    position: absolute;
    top: 20%;
    left: 52%;
  }

  /* =============Showcase close=============== */
  article {
    transform: translateY(25%);
  }

  .just_work .img {
    transform: translateY(-25%);
  }

  .just_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .just_work .content {
    text-align: center;
    width: 100%;
    transform: translateY(-35%);
  }

  .txt {
    padding: 0 2rem;
    width: 100%;
  }

  .txt > p {
    font-size: 1.1rem;
  }
}
