body .parent{
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

body .header{
    padding: 2rem;
    grid-column: 1/4;
}

body .left-sidebar{
    grid-column: 1/2;
}

body .main{
    grid-column: 2/3;
}

body .right-sidebar{
    grid-column: 3/4;
}

body .footer{
    grid-column: 1/4;
}